<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>Symbol:</b>
  <%= @stock.symbol %>
</p>

<p>
  <b>Price:</b>
  <%= @stock.price %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
